<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.ShopSystem.sys.mapper.EventCategoryMapper">
    <select id="selectByEventId" resultType="java.lang.String">
        SELECT category_name from ss_event_category
        WHERE event_id = #{eventId}
    </select>
</mapper>