<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.ShopSystem.sys.mapper.EventApplyMapper">
    <select id="queryByShopId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ss_event_apply
        WHERE shop_id = #{shopId} AND status != 2
    </select>
</mapper>