<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.ShopSystem.sys.mapper.UserOrderMapper">
    <select id="selectByUserIdAndStatus" resultType="com.team.ShopSystem.sys.entity.UserOrder">
        SELECT * FROM ss_user_order
        WHERE user_id=#{userId} AND status=#{status} AND deleted = 0
    </select>

    <select id="selectByShopIdAndStatus" resultType="com.team.ShopSystem.sys.entity.UserOrder">
        SELECT * FROM ss_user_order
        WHERE shop_id=#{shopId} AND status=#{status} AND deleted = 0
    </select>

    <select id="queryByShopId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ss_user_order
        WHERE shop_id =#{shopId} AND (status = 1 OR status = 2 OR status = 5)
    </select>
</mapper>