

server:
  port: 9999

spring:
  datasource:
    username: remoteuser
    password: password
    url: jdbc:mysql://120.46.154.28:3306/ShopSystem?useSSL=false&serverTimezone=UTC
#  redis:
#    port: 6379
#    host: 120.46.154.28
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

logging:
  level:
    com.team.ShopSystem: debug

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-not-delete-value: 0
      logic-delete-value: 1
  type-aliases-package: com.team.ShopSystem.*.entity

constants:
  unapproved: 0
  approved: 1
  rejected: 2
  applyDeleted: 3
  deleted: 4
  rejectDeleted: 5

prop:
  upload-folder: /opt/project/springboot/uploadImage/
